@import "colors";

.button{

    border: 1px solid;
    padding: 14px 20px;

    text-decoration: none !important;
    transition: all 0.3s ease;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.3em;
    
    text-transform: capitalize;

    .button-main{
        color: var(--secondary-white);
        background-color: var(--primary-main);
        border-color: var(--primary-main);

        &:hover{
            background-color: var(--secondary-white);
            color: var(--primary-main);
        }
    }
    
    .button-secondary{
        background-color: var(--secondary-white);
        color: var(--primary-main);
        border-color: var(--primary-main);
        
        &:hover{
            color: var(--secondary-white);
            background-color: var(--primary-main);
        }
    }
}