//Primary colors
$primary-main: #BA8B57;
$primary-honey: #d4a662;
$primary-brown: #8e715b;
$primary-cream: #f5e1b1;

//Secondary colors
$secondary-black: #333333;
$secondary-white: #FFFFFF;
$secondary-grey-1: #8C8C8C;
$secondary-grey-2: #AFAFAF;
$secondary-grey-3: #E8EAEF;